body{
background-color: rgba(74, 109, 97, 0.345);}
p{color: rgb(76, 76, 100);}

h1{
    text-align: center;
    color: aliceblue;
}
.contenedor{  
    text-align: center;
} 
H2{
    text-align: center;

}
h3{
    text-align: center;
}
.header{
    text-align: center;
}

.facebook{
 color: blue;
 position: static;
}
.twiter{
    color: rgba(131, 138, 138, 0.129);
    text-align: center;
    position: relative;
}
input{
    border: 30px;
    color: rgb(46, 40, 63);
}
.imagen1{
    text-align: justify center;
}